<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/cg.css">
    <script defer src="./js/createGroup.js"></script>
</head>
<body>
    <fieldset>
        <legend>Create Group</legend>
        <form action="/create" method="post" id="form">
            <i class="fa fa-users"></i>
            <br>
            <input type="text" name="groupName" required placeholder="Enter group name" />
            <br>
            <br>
            <button type="submit" class="fa fa-plus"> Create Group</button>
        </form>
    </fieldset>
    <div id="group-container">
        <h3 style="margin-left: 0.2rem;">Your Groups </h3>        
        <template id="groupTemplate">
            <div class="group">
                <a href="">Hello World</a>
                <a class="fa fa-share" href=""></a>
            </div>
        </template>
        
        <div class="group">
            <a href="">Hello World</a>
            <a class="fa fa-share" href=""></a>
        </div>
    </div>
</body>
</html>